
<form action="/answer" class="form-inline d-flex justify-content-between">
  <div class="form-group w-75 p-1">
    <input type="text" name="input" value="What's your question?" class="form-control">
  </div>

  <div class="w-25 p-1">
    <input type="submit" class="btn btn-primary">
  </div>
</form>
